<div >
  <mat-toolbar style="background-color: #fff; border-bottom: 1px solid #eee; height: 40px;">
    <h1 class="mat-h1">Role Details</h1>
    <span class="example-spacer"></span> 
    <button mat-icon-button aria-label="Toggle menu">
      <mat-icon>close</mat-icon>
    </button>
    </mat-toolbar>
  
  <mat-grid-list cols="8" rowHeight="350px">
    <mat-grid-tile *ngFor="let card of cards | async" [colspan]="card.cols" [rowspan]="card.rows">
        <form [formGroup]="roleDetailsForm" >
            <mat-form-field style="width: 100%; padding: 10px;">
              <mat-label>Role</mat-label>
              <input matInput type="text" required formControlName="role"/>
            </mat-form-field>
            <p>
            <button mat-button type="submit" (click)="saveProduct()">Submit</button>
            <button mat-button>Cancel</button>
            </p>
          </form>
    </mat-grid-tile>
  </mat-grid-list>
</div>
